.idea
*.pyc
__pycache__
L5/Ex1/core/migrations/
L5/Ex1/core/databaseConnection.py
L5/Ex2/SK.txt
L5/Ex2/FBCreds.txt
L5/Ex2/DbCreds.txt
L5/Ex2/db.sqlite3
L6/Ex1/cmake-build-debug/
L7/FBCreds.txt
L7/FBCreds.txt
L7/Ex1/FBCreds.txt
L7/Ex1/DbCreds.txt
L7/Ex1/db.sqlite3
L7/Ex1/SK.txt
