{% extends 'base.html' %}

{% block title %} Sign in {% endblock %}
{% block content %}
    <h2>Transfer money</h2>

    <form method="post">
        {% csrf_token %}
        <label for="transferfrom">Transfer from:</label><br>
        <input type="number" id="transferfrom" name="transferfrom"><br>
        <label for="transferto">Transfer to:</label><br>
        <input type="number" id="transferto" name="transferto"><br>
        <label for="amount">Amount:</label><br>
        <input type="number" step="0.01" id="amount" name="amount"><br>
        <button onclick="confirmation()">Transfer</button>
        <input type="hidden" name="save" value="false" id="save">
    </form>

    <script>
        function confirmation()
        {
            document.getElementById('save').value = confirm('Confirm transaction?').toString();
        }
    </script>

    <div class="row">
    <div class="col-md-8 mx-auto social-container my-2 order-md-1"></div>
    </div>
    <main>
        {% block success %}
        {% endblock %}
    </main>
{% endblock %}